<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<table>
    <thead>
    <tr>

        <th>menu id</th>
        <th>page number</th>
        <th>page photo </th>
        <th>page videos</th>
        <th>page state</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="page : ${page}">

        <td th:text="${page.menuId}">0</td>
        <td th:text="${page.pageNumber}">0</td>
        <td th:text="${page.coverPhoto}">0</td>
        <td th:text="${page.coverVideos}">0</td>
        <td th:text="${page.state}">0</td>



        </td>
        <a th:href="#">update</a>
    </tr>
    </tbody>

</table>
</html>