<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xsi:schemaLocation="http://www.thymeleaf.org " xmlns:xsi="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Menu Maker</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg app__nav-bg">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center gap-3" href="#">
                <img
                        src="../static/img/logo.png"
                        alt="restaurant logo"
                        class="app__nav-logo"
                />
                <p class="fw-bolder nav-logo-brandName">Restaurants</p>
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                        >Restaurants</a
                        >
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="app__restaurants_r-container">
            <th:block th:each="restaurant : ${restaurants}">
                <a th:href="@{'/restaurants/restaurant/' + ${restaurant.id}}" class="app__restaurants_r-item">
                    <div class="app__restaurants_r-item-img">
                        <img th:src="${restaurant.image}" alt="bars and grills logo">
                    </div>
                    <p class="app__restaurants_r-item_name" th:text="${restaurant.name}"></p>
                    <button class="app__restaurants_r-item-btn btn" th:href="@{'/restaurant/' + ${restaurant.id}}">
                        More Details &#129058;
                    </button>
                </a>
            </th:block>
        </div>
    </div>
</main>
<footer></footer>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
></script>
</body>
</html>
